form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 0.5rem;
}

.mine {
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: cornflowerblue;
  padding: 2rem;
}

@media (max-width: 500px) {
  nav {
    flex-direction: column;
  }
}